@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'SOYOMapleBoldTTF';
    background-color: #B199E5;
}

#box {
    border: 3px solid #F6F6F6;
    border-radius: 20px 8px 20px 8px;
    width: 440px;
    height: 630px;
    margin: 40px auto;
    background-color: #F6F6F6;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn-area {
    border-radius: 5px;
    background-color: aliceblue;
}

/* top */
#top {
    width: 440px;
    height: 100px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px 8px 0px 8px;
    color: #003399;
}

#under-line {
    height: 4px;
    background-color: #5B5AFF;
    position: absolute;
    width: 0;
    top: 0;
    margin-left: 5px;
    padding: 0px;
    transition: 0.5s;
}

.tab-star {
    margin-top: -7px;
    font-size: 25px;
}

.list-star {
    text-decoration: none;
}

.task-area a {
    color : #B2CCFF !important;
}

.task-area a:focus {
    color : #6799FF !important;
}

.task-area a:hover {
    color : #6799FF !important;
}

/* main */
#main {
    height: 470px;
    padding-top: 10px;
    overflow:auto;
    overflow-x: hidden;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.task-done {
    text-decoration: line-through;
    background-color: lightgray;
    border-radius: 5px;
}

.task-star {
    border: 3px solid pink;
    border-radius: 5px;
    font-size: 15px;
}

.btn-star:hover {
    background-color : #FFD8D8;
}

.btn-delete {
    font-size: 15px;
}

.btn-delete:hover {
    background-color : #BDBDBD;
}

.btn-chk {
    font-size: 15px;
}

.btn-chk:hover {
    background-color : #E4F7BA;
}

/* footer */
#footer {
    height: 60px;
}

.insert-area {
    text-align: center;
    padding-top: 10px;
}

.ibx-insert {
    border-radius: 5px;
}

.btn-insert {
    margin-left: 8px;
    border-radius: 5px;
}

.btn-insert:hover {
    background-color: antiquewhite;
}